<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>列表过滤-computed</title>
</head>

<body>
    <div id="root">
        <h2>人员列表（过滤数组）</h2>
        <input type="text" placeholder="请输入" v-model="keyWord">
        <button @click="sortType=1">年龄升序</button>
        <button @click="sortType=2">年龄倒序</button>
        <button @click="sortType=0">原顺序</button>
        <ul>
            <li v-for="p of filePersons" :key="p.id">
                {{p.name}}-{{p.age}}
            </li>
        </ul>


    </div>

</body>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
        el: "#root",
        data: {
            keyWord: '',
            sortType: 0,// 0：原顺序，1：升序，2：倒叙
            persons: [
                { id: '001', name: '张三', age: 28 },
                { id: '002', name: '李是', age: 19 },
                { id: '003', name: '万物', age: 20 }
            ]
        },
        // 计算属性一上来的时候 就会调用一下
        computed: {
            filePersons() {
                const arr = this.persons.filter((p) => {
                    return p.name.indexOf(this.keyWord) !== -1
                })
                if (this.sortType) {
                    arr.sort((p1, p2) => {
                        return this.sortType === 1 ? p2.age - p1.age : p1.age - p2.age
                    })
                }
                return arr
            }
        }
    })
</script>
<style>
    .basic {
        font: 2em sans-serif;
    }

    .happy {
        background-color: rgb(193, 52, 228);
    }

    .sad {
        background-color: rgb(11, 88, 62);
    }

    .normal {
        background-color: rgb(67, 186, 216);
    }

    .atguigu1 {
        font-size: large;
    }

    .atguigu2 {
        font-weight: 100;
    }

    .atguigu3 {
        flex-wrap: nowrap;
    }
</style>

</html>