<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_计算属性</title>
    
</head>
<body>
    <div id="root">
        姓：<input type="text" v-model="firstname" ><br></br>
        名：<input type="text" v-model="lastName" ><br></br>
        姓名：<span>{{fullName}}</span><br></br>
        姓名：<span>{{fullName}}</span><br></br>
        姓名：<span>{{fullName2}}</span><br></br>
        姓名：<span>{{fullName}}</span><br></br>
    </div>
    
</body>
<script type="text/javascript" src="../js/vue.js"></script>
<script>
    Vue.config.productionTip = false

    const vm = new Vue({
        el:"#root",
        data:{
            firstname :" 张",
            lastName : "三"
        },
        computed:{
            fullName:{
                get(){
                    console.log("get 被调用")
                    return this.firstname +'-'+ this.lastName
                },
                set(value){
                    console.log("set 被调用")
                    const arr = value.split('-')
                    this.firstname = arr[0]
                    this.lastName = arr[1]
                    
                }
            },
            fullName2:function(){
                console.log("get 被调用")
                    return this.lastName +'-'+ this.firstname 
            }
        }
    })
</script>

</html>